body {
    background-color: grey;
    text-align: center;
}

.owl {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    
}

table, th, td {
    border: 1px solid gray;
    margin: auto;
}

table {
    background-color: darkblue;
    color: white;
}

.cabbage {
    color: chartreuse
}

h3 {
    color: purple;
}

h2 {
    color: gold;
}